.use-main(@boolean) when (@boolean = true) {
    //------------------------------------//
    //  $MAIN
    //------------------------------------//
    
	// Variables
	@font-size: ((@base-font-size/16px) * 1em);
	@line-height-integer: unit(@line-height-ratio);
	
	@if @global-border-box == true {
        *{
            &,
            &:before,
            &:after {
                .vendor(box-sizing, border-box);
            }
        }
    }

    html, 
	body {
        background-color: #fff;
        color: @base-font-color;
        font: normal normal @font-size/@line-height-integer @base-font-family;
        margin: 0;
        
        text-rendering: optimizeLegibility;
        font-smooth: always;
        
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
    }

    html[dir="rtl"] { direction: rtl; }
}

.use-main(@use-main); 