.use-selection(@boolean) when (@boolean = true) {
    //------------------------------------//
    //  $SELECTION
    //------------------------------------//
    * {
        &::-webkit-selection {
            background-color: @selection-background;
            color: @selection-color;
        }
        
        &::-moz-selection {
            background-color: @selection-background;
            color: @selection-color;
        }
        
        &::selection {
            background-color: @selection-background;
            color: @selection-color;
        }
    }
}

.use-selection(@use-selection); 